<table>
    <tr>
      <th>Location</th>
      <td>{{ data.location }}</td>
    </tr>
    <tr>
        <th>Email</th>
      <td>{{ data.email }}</td>
    </tr>
    <tr>
        <th>P/B</th>
        <td>{{ data.project_or_building }}</td>
    </tr>
    <tr>
      <th>Full Name</th>
      <td>{{ data.full_name }}</td>
    </tr>
    <tr>
        <th>Phone number 1</th>
        <td>{{ data.ph1 }}</td>
    </tr>
    <tr>
        <th>Phone number 2</th>
        <td>{{ data.ph2 }}</td>
    </tr>
  </table>
  