<!doctype html>
<html lang="en">
    {% load static %}
    {% load humanize %}
    <head>
        <title>Property Details</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            .up_arrow{
                position: fixed;
                right: 2rem;
                bottom: 2rem;
                height: 2.8rem;
                width: 2.8rem;
                background-color: #000;
                display: grid;
                place-content: center;
            }
            .up_arrow i {
                color: white;
            }
        </style>
    </head>

    <body>
        {% include "inc/nav.html" %}
        <div class="container mt-5" id="start">
            <div class="up_arrow">
                <a href="#start"><i class="fa-solid fa-chevron-up"></i></a>
            </div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url '' %}" style="text-decoration: none; color: #000;">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url "category_property" property.category %}" style="text-decoration: none; color: #000;">{{property.category}}</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="" style="text-decoration: none; color: #000;">{{property.title}}</a>
                </li>
                </ol>
              </nav>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <h3>{{property.title}}</h3>
                    <div class="d-flex justify-content-evenly">
                        <p>Featured</p>
                        {% if property.is_off_plan %}
                        <p><span class="badge bg-secondary">OFF PLAN</span></p>
                        {% endif %}
                        <p><span class="badge bg-secondary">{{property.payment_plan}} PAYMENT PLAN</span></p>
                    </div>
                </div>

                <div class="d-flex flex-column align-items-end">
                    <!-- Default dropstart button -->
                    <div class="btn-group dropstart w-25">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-share-nodes"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                           <li><a class="dropdown-item" href="#">Whatsapp</a></li>
                           <li><a class="dropdown-item" href="#">Meta</a></li>
                           <li><a class="dropdown-item" href="#">Twitter</a></li>
                           <li><a class="dropdown-item" href="#">Pinterest</a></li>
                           <li><a class="dropdown-item" href="#">Linkedin</a></li>
                           <li><a class="dropdown-item" href="#">Email</a></li>
                        </ul>
                    </div>
                    <h3 class="fw-bold">{{property.company}}</h3>
                </div>
            </div>
            <img src="{{property.image.url}}" alt="" class="img-fluid">
            
            {% if image %}
            <div class="d-flex justify-content-evenly" style="height: 10rem;">
                {% for im in image %}
                <img src="{{im.image.url}}" alt="" class="img-fluid">
                {% endfor %}
            </div>
            {% endif %}

            <div class="border border-3 w-75 mt-3 p-4" style="height: 10rem;">
                <h3>Overview</h3>
                <div class="d-flex">
                    <div class="d-flex flex-column me-5">
                        <p class="fw-bold">AED {{property.price | intcomma}}</p>
                        <p>starting price</p>
                    </div>

                    <div class="d-flex flex-column me-5">
                        <p class="fw-bold">{{property.payment_plan}}</p>
                        <p>payment plan</p>
                    </div>

                   {% if property.detail %}
                   <div class="d-flex flex-column">
                    <p class="fw-bold">{{property.detail.completion_date}}</p>
                    <p>completion date</p>
                   </div>
                   {% endif %}
                </div>
            </div>
            
           <!-- Description -->
            <div class="border border-3 w-75 mt-3 p-4">
                <h3>Description</h3>
                {{property.description}}

            </div>

           <!-- Details -->
           {% if property.detail %}
           <div class="border border-3 w-75 mt-3 p-4">
            <h3>Details</h3>
            <div class="border border-3 bg-secondary p-3">
                <div class="row">
                    <div class="col-3">
                        <p class="fw-bold">Location:</p>
                        <p class="fw-bold">Project Name:</p>
                        <p class="fw-bold">Developer:</p>
                    </div>
                    <div class="col-3">
                        <p>{{property.detail.location}}</p>
                        <p>{{property.detail.project_name}}</p>
                        <p>{{property.detail.developer}}</p>
                    </div>

                    <div class="col-3">
                        <p class="fw-bold">Unit type:</p>
                        <p class="fw-bold">Completion date:</p>
                        <p class="fw-bold">Starting Price:</p>
                    </div>

                    <div class="col-3">
                        <p>{{property.category}}, {{property.type}}</p>
                        <p>{{property.detail.completion_date}}</p>
                        <p>AED {{property.price | intcomma}}</p>
                    </div>
                </div>
            </div>

            {% if property.payment_details %}
                <h3>payment details</h3>
                <div class="row">
                    <div class="col-3">
                        <p class="fw-bold">On booking</p>
                        <p class="fw-bold">During construction</p>
                    </div>
                    <div class="col-3">
                        <p>{{property.payment_details.on_booking}}</p>
                        <p>{{property.payment_details.during_construction}}</p>
                    </div>
                    <div class="col-3">
                        <p class="fw-bold">Upon handover</p>
                    </div>
                    <div class="col-3">
                        <p>{{property.payment_details.upon_handover}}</p>
                    </div>
                </div>
            {% endif %}

           </div>
            
           {% endif %}

           {% if property.map %}
           <div class="border border-3 w-75 mt-3 p-4">
            <h3>Location</h3>
            <iframe width="700" height="345" src="{{ property.map }}"></iframe>
           </div>
           {% endif %}
           
           {% if property.video %}
           <div class="border border-3 w-75 mt-3 p-4">
            <h3>Video</h3>
            <iframe width="700" height="345" src="{{ property.video }}"></iframe>
           </div>
           {% endif %}

           <div class="border border-3 w-75 my-3 p-4">
            <div class="d-flex justify-content-between">
                <h3>Contact information</h3>
                <button class="btn btn-dark">View listings</button>
            </div>
            <div class="d-flex">
                <img src="{% static 'images/mainlogo.png' %}" alt="" style="" class="img-fluid mx-5">
                <div class="py-5">
                    <p class="my-1">
                        <i class="fa-regular fa-user"></i>
                        Marvel home
                    </p>
                    <div class="d-flex">
                        <p class="me-3"> 
                            <i class="fa-solid fa-phone"></i>
                            +91 912312312
                        </p>
                        <p>
                            <i class="fa-brands fa-whatsapp"></i>
                            Whatsapp
                        </p>
                    </div>
                </div>
            </div>
           </div>
           
        </div>
        {% include "inc/footer.html" %}


        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
